$black: #000;
$grey: #eee;
$pink: #ffbfcb;
$day-size: 100px;
$day-padding: 10px;
$day-gap: 1px;
$border-width: 1px;
$days-name: mon, tue, wed, thu, fri, sat, sun;
$day-margin: $day-size + ($border-width * 3);
